<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <a href="<%= restaurant_path(restaurant) %>"><%= restaurant.name %></a>
  <br>
<% end %>
<br>
<% if can? :create, Restaurant %>
  <%= link_to "Add a restaurant", new_restaurant_path %>
<% end %>

  